node_modules
dist
.env
.env.production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
.DS_Store
*.local
.idea
.vscode
*.sublime-workspace
*.sublime-project
*.tgz
package-lock.json
yarn.lock
pnpm-lock.yaml
output
deploy.sh